<%# ヘッダーの作成%>
<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <!--li class="nav-link"><%# = current_user.name %>さん</li-->
      <li><%= link_to current_user.name, edit_user_path(current_user), class: "nav-link" %></li>
      <li class="header_menu_title"><%= link_to "かんばん", root_path, class: "nav-link" %></li>
      <li>
        <ul class="header_menu_inner">
          <%# リストを作成するリンクは今後作成する。今は"#"にしておく"%>
          <li><%= link_to "リストを作成", new_list_path, class: "nav-link listNew"%></li>
          <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>
      </li>
    </ul>
  </nav>
</header>
